<html>
  <head>
    <link href= "/public/styles.css" rel="stylesheet" type="text/css" />
  </head>
  
    <body>
        <a href="/">Home</a>
      
<% if (result) { %>
    <h2><%= result.title %></h2>
    <li>Year: <%= result.year %></li>
    <li>Director: <%= result.director %></li>
    <li>Genre: <%= result.genre %></li>
    <li>Opinion: <%= result.opinion %></li>
<% } else { %>
        <h2>Not found</h2>
<% } %>

    </body>
</html>